.checkout-step-login {
    float: left;
    width: 100%;
}

.opc-wrapper {

    .checkout-step-login {

        .authentication-wrapper {
            float: none;
            width: 400px;
            max-width: 400px;
            margin: 0 auto;

            h3 {
                float: left;
            }

            .fieldset {
                margin-bottom: 20px;
            }
        }
    }
}


.checkout-step-login {

    .authentication-wrapper {

        form {

            .actions-toolbar {
                margin-bottom: 20px;

                .primary {
                    float: left;
                    width: 100%;
                }

                .secondary {
                    float: left;
                    width: 100%;

                    .action {
                        float: left;
                        margin: 0;
                        line-height: 35px;
                    }
                }

                .button {
                    width: 100%;
                }
            }

        }

        .block-content {

            p {
                float: left;
                width: 100%;
                line-height: 25px;
                text-align: left;
            }
        }

        .block-customer {
            float: left;
            text-align: left;
        }

        .mage-error {
            line-height: 20px;
            text-align: left;
        }

        .messages {

            .message-error {
                text-align: left;
                margin: 0;
                padding: 0px 0px 0px 40px;
                line-height: 44px;
            }

        }

    }

    .authenticated-wrapper {

        form {

            .block-content {
                margin-bottom: 20px;
                float: left;
                display: block;
                width: 100%;
            }

        }

    }

} 
