.checkout-step-login {
    float: left;
    width: 100%;

    h4 {
        font-size: 20px;
    }

    .step-actions {
        margin: 0 auto;
        max-width: 500px;
        margin-bottom: 20px;
        text-align: left;

        .step-action {
            width: 50%;
            padding-right: 5px;

            span {
                color: #fff;
                line-height: 1.8rem;
                text-align: center;
                font-size: 1.8rem;
                cursor: pointer;                
                float: left;
                padding: 10px 0;
                width: 100%;

            }

            &.step-action-login {
                padding-right: 10px;

                span {
                    background: #e4e4e4;
                    color: #575757;
                }
            }

            &.step-action-new {
                padding-right: 0;

                span {
                    background: #1979c3;
                }
            }
        }

    }

    form {
        width: 100%;

        input[type=email] {
            height: 45px;
        }

        input[type=text] {
            height: 45px;
        }

        input[type=password] {
            height: 45px;
        }

        .fieldset {
            margin: 0 0 20px;
        }
    }

    .button {
        width: 100%;

        span {
            line-height: 1.8rem;
            text-align: center;
            font-size: 1.8rem;
            cursor: pointer;
            float: left;
            padding: 10px 0;
            width: 100%;
        }
    }

    .actions-toolbar {
        margin-bottom: 20px;

        .primary {
            float: left;
            width: 100%;

            .action {

                &.primary {
                    padding: 0;
                }

                &.button {
                    width: 100%;
                }
    
            }
        }
        
        .secondary {
            float: left;
            width: 100%;

            .action {
                float: left;
                margin: 0;
                line-height: 35px;
            }
        }

        .button {
            width: 100%;
            height: auto;
        }
    }

    .authentication-wrapper {
        float: left;
        text-align: left;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;

        .block-content {
            margin-bottom: 10px;
            float: left;
            display: block;
            width: 100%;

            p {
                float: left;
                width: 100%;
                line-height: 25px;
                text-align: left;
            }
        }

        .block-customer {
            float: left;
            text-align: left;
        }

        .block-authentication {

            .action {

                &.action-login {
                    padding: 0;
                }

            }

        }

        .block-customer-registration {
            float: left;
            width: 100%;
            text-align: left;
            margin-bottom: 10px;

            .actions-toolbar {

                .primary {
                    width: 100%;
                }
            }
        }

        .block-guest {
            float: left;
            width: 100%;

            .form-continue-guest {
                text-align: left;
            }
        }

    }

    .form-customer-login {

        .actions-toolbar {

            .secondary {
                margin-bottom: 10px;
            }

        }

    }

    .form-customer-register {
        float: left;
        margin-bottom: 20px;

        .field {

            &.agreement {
                margin-bottom: 20px;
                position: relative;
                float: left;
                width: 100%;

                .control {
                    display: block;
                    float: left;
                    width: 100%;
                    
                    .mage-error {
                        position: absolute;
                        bottom: -10px;
                    }

                    .input-checkbox {
                        display: block;
                        float: left;

                        &.mage-error {
                            position: relative;
                        }
                      
                    } 

                    label {
                        display: block;
                    }
                }

            }

        }

        .form__text-required-fields {
            text-align: right;
            font-size: 10px;
            color: #d0043c;
        }

        .actions-toolbar {

            .primary {
                margin-bottom: 10px;
            }

            .secondary {

                .action-back {
                    width: 100%;
                    text-align: center;
                }
            }
        }

    }

    .mage-error {
        text-align: left;
    }

    .messages {
        margin-bottom: 20px;

        .message-error {
            text-align: left;
            margin: 0;
            padding: 10px 0 10px 40px
        }

    }

}