.checkout-step-login {
    float: left;
    width: 100%;
}

.opc-wrapper .checkout-step-login .authentication-wrapper {
    float: none;
    width: 400px;
    max-width: 400px;
    margin: 0 auto;
}


.checkout-step-login .authentication-wrapper h3 {
    float: left;
}

.checkout-step-login .authentication-wrapper .fieldset {
    margin-bottom: 20px;
}

.checkout-step-login .authentication-wrapper form .actions-toolbar {
    margin-bottom: 20px;
}

.checkout-step-login .authentication-wrapper .actions-toolbar  .primary,
.checkout-step-login .authentication-wrapper .actions-toolbar  .secondary {
    float: left;
    width: 100%;
}

.checkout-step-login .authentication-wrapper .actions-toolbar  .secondary .action {
    float: left;
    margin: 0;
    line-height: 35px;
}

.checkout-step-login .authentication-wrapper .actions-toolbar  .button {
    width: 100%;
}


.checkout-step-login .authentication-wrapper .block-content p {
    float: left;
    width: 100%;
    line-height: 25px;
    text-align: left;
}

.checkout-step-login .authentication-wrapper .mage-error {
    line-height: 20px;
    text-align: left;
}

.checkout-step-login .authentication-wrapper .messages .message-error {
    text-align: left;
    margin: 0;
    padding: 0px 0px 0px 40px;
    line-height: 44px;
}
